:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --logo-black-part: #000000;
  --header-line: #ececec;
  --project-border: #eeeeee;
  --social-icon: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

html {
  box-sizing: border-box;
}

*,
*::before *::after {
  box-sizing: inherit;
}

/*------------------Header--------------------*/
.header > .container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid var(--header-line);
}

/*-----------------Logo-----------------------*/

.logo {
  display: block;

  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo .logo-part-first {
  color: var(--logo-black-part);
}
.logo .logo-part-second {
  color: var(--primary-white-color);
}

.logo {
  text-decoration: none;
}

/*-----------------Site nav---------------------*/
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav.list {
  gap: 50px;
}

.site-nav {
  list-style: none;
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
/*----------------Contacts------------------------*/
.contacts-header {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin-left: auto;
}

.contacts-header .link {
  display: flex;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
  margin-bottom: 0;
}
/* --------------Hero---------------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-background-color);

  text-align: center;
}

.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 694px;
  text-align: center;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  margin-top: 30px;

  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  border: 1px transparent;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ----------------Section-title------------------ */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -------------------Feature--------------------- */

.feature-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  line-height: 1.71;
}

.section.no-padding {
  margin: 0;
  padding-top: 0;
  padding-bottom: 94px;
}
.feature-list .item::before {
  content: "";

  height: 120px;
  display: block;
  background-color: var(--secondary-background-color);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.item.antena::before {
  background-image: url(../images/icons-svg/antenna.svg);
}

.item.clock::before {
  background-image: url(../images/icons-svg/clock.svg);
}

.item.diagram::before {
  background-image: url(../images/icons-svg/diagram.svg);
}

.item.astronaut::before {
  background-image: url(../images/icons-svg/astronaut.svg);
}

/* --------------What-we-are-doing---------------- */
.box-list {
  display: flex;
  gap: 30px;
  width: calc((100% - 60px) / 3);
  list-style: none;
}

/* -------------------Team------------------------ */
.section.team {
  background-color: var(--secondary-background-color);
  text-align: center;
}
.team-list {
  display: flex;
  list-style: none;
  gap: 30px;
  width: calc((100% - 90px) / 4);
}
.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.team-list .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-list .text {
  margin-bottom: 16px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
}

.team-part {
  padding: 30px 0;
}
.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.team-soc-link {
  display: flex;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--social-icon);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* ---------------------Clients------------------- */
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-link {
  display: flex;
  width: 170px;
  height: 92px;

  border: 1px solid var(--social-icon);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: var(--social-icon);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}
/* ----------------------Footer------------------- */
.contacts-footer {
  list-style: none;
  font-style: normal;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.contacts-footer .adress-link {
  color: var(--primary-white-color);

  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contacts-footer .link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  text-decoration: none;
}
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}


.contacts-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

address {
  margin-top: 20px;
}

.footer-content {
  display: flex;
}

.footer-adress-content {
  display: block;
}

.footer-soc-content {
  display: block;
  margin-left: 70px;
}

.foorer-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.footer-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--primary-white-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-title {
  font-weight: 700;

  line-height: 16px;

  text-transform: uppercase;
  color: var(--primary-white-color);

  margin-bottom: 15px;
  padding-top: 12px;
}

/* ------------------Projects--------------------- */

.project-list .title {
  margin-bottom: 4px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-list .text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.project-list .link {
  display: block;
  text-decoration: none;
  
}

.project-list .link:hover,
.project-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-part {
  padding: 20px 24px;
  border-right: 1px solid var(--project-border);
  border-bottom: 1px solid var(--project-border);
  border-left: 1px solid var(--project-border);
}
/* -------------------Filters-------------------- */
.button-list {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 8px;

  list-style: none;
  margin-bottom: 50px;
}

.button-list .btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 1px transparent;
}

.button-list .btn:hover,
.button-list .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
