:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --logo-black-part: #000000;
    --header-line: #ececec;
    --project-border: #eeeeee;
    --social-icon: #afb1b8;
    --btn-color-hover: #188ce8;
  }