.section__team{
    background-color: var(--secondary-background-color);
    text-align: center;
  }
  .team-members {
    display: flex;
    list-style: none;
    gap: 30px;
    width: calc((100% - 90px) / 4);
  }
  .team-members__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-white-color);
  }
  
  .member-description{
    padding: 30px 0;
  }
  .member-description__title {
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  
  .member-description__text{
    margin-bottom: 16px;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.19;
  }
  
  .member-soc-networks {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
  }
  
  .member-soc-networks__link{
    display: flex;
    width: 44px;
    height: 44px;
  
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--social-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: var(--accent-color);
        fill: var(--primary-white-color);
      }
  }
  
 
  